*{
    margin: 0px;
    font-family: "cooper-black-std-1","cooper-black-std-2",sans-serif;

}

body {
    background: #077187;

}

#root{ 
    display: grid;
    align-items: center;
    justify-content: center;
}

